{% extends "financas/template_page_navegacao.html" %}

{% block title %}
  Cadastro 
{% endblock %}

{% block titulo %}
  <div> <a class="msg"> msg: {{ msg }}</a> </div>
  <h3>{{sistema}} </h3>
  <h1> Cadastro</h1>
  <h4> Eleições: {{ano_fiscal}}</h4>

{% endblock %}


{% block content %}
  <div>
      <!-- area vavegaçao lateral -->

      <!-- main -->
    <div class="main">

      <!-- barra ações-->
      <div>

      </div>


        <table> 
          <tr>
            <td>
              <h5 class="my_h5"> Cadastros</a>

                    <table> 
                      <tr>
                         <td>
                            <a href={% url 'financas:cadastro_cidade' %}  class="btn btn-primary btn-lg" role="button">Cadastrar cidade</a>
                          <td>
                            <a href={% url 'financas:cadastro_pessoa' %}  class="btn btn-primary btn-lg" role="button">Cadastrar pessoa</a>
                         <td>
                            <a href={% url 'financas:cadastro_partido' %}  class="btn btn-primary btn-lg" role="button">Cadastrar partido</a>
                        <td>
                            <a href={% url 'financas:cadastro_cargo' %}  class="btn btn-primary btn-lg" role="button">Cadastrar cargos</a>  
                      <tr>
                         <td>
                            <a href={% url 'financas:cadastro_candidato' %}  class="btn btn-primary btn-lg" role="button">Cadastrar candidato</a>
                         <td>
                            <a href={% url 'financas:cadastro_gpo_despesas' %}  class="btn btn-primary btn-lg" role="button">Cadastrar grupo de despesas</a>
                         <td>
                            <a href={% url 'financas:cadastro_item_despesa' %}  class="btn btn-primary btn-lg" role="button">Cadastrar item de despesa</a>
                      <tr>

            </td>
          </tr>
        </table>
    </div>
  </div>


{% endblock %}
