{% extends "financas/template_page_navegacao.html" %}

{% block title %}
  Doações
{% endblock %}

{% block titulo %}
  <div> <a class="msg"> msg: {{ msg }}</a> </div>
  <b>  Eleições: {{ano_fiscal}}</b>
  <h1> Lista de doacoes</h1>
  <b>  Doador: {{doador.pessoa.nome}}</b>
  <p>
  <b>  CPF: {{doador.pessoa.cpf}}</b>

{% endblock %}


{% block content %}
  <div>
      <!-- main -->
    <div class="main">

      <!-- barra ações-->
      <div>
        <!--<a href="http://www.google.co.uk/" onclick="return (confirm('Follow this link?'))">Google</a>-->
        <a href= "{% url 'financas:doacao_incluir' doador.id %}"> Incluir doação </a>
      </div>
        <table> 
          <tr>
            <td>
            
              <table>
                <tr>
                  <th rowspan="1">id</th>  
                  <th rowspan="1">Data</th>
                  <th rowspan="1">Tipo doacao</th>
                  <th rowspan="1">Valor1 </th> 
      
                </tr>
        
                {% for doacao in lst_doacoes %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ doacao.data}}</td>
                    <td>{{ doacao.tipo_doacao}}</td>  
                    <td>{{ doacao.valor}}</td>  

                  </tr>
                {% endfor %}
              </table>

            </td>
          </tr>
        </table>

    </div>
  </div>


{% endblock %}
