{% extends "financas/template_page_navegacao.html" %}

{% block title %}
  Autofinanciamento
{% endblock %}

{% block titulo %}
  <div> <a class="msg"> msg: {{ msg }}</a> </div>
  <b>  Eleições: {{ano_fiscal}}</b>
  <h1> Totalização das despesa por grupo</h1>
  <h5> Candidato: {{candidato.pessoa.nome}}</h5>
  <h6> Cargo: {{candidato.cargo.nome}}</h6>

{% endblock %}


{% block content %}
  <div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="{% url 'financas:despesas_main'%}">Relatorio</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'financas:despesas_lancamentos' candidato_id=candidato.id %}">Lançamentos</a></li>

  </ul>
</nav>


    <div class="main">

      <!-- barra ações -->
      <a href= "{% url 'financas:despesa_atualiza_resumo' %}"> Atualizar </a>

      <div>
      </div>
        <table> 
          <tr>
            <td>
              
              <table>
                <tr>
                  <th rowspan="1">id</th>  
                  <th rowspan="1">Grupo despesa</th>             
                  <th rowspan="1">Total  Contratado</th>
                  <th rowspan="1">Total  Estimavel</th>
                  <th rowspan="1">[FEFC] Total  Pago  </th>   
                  <th rowspan="1">[FUNDO PARTIDÁRIO] Total Pago  </th> 
                  <th rowspan="1">[OUTROS RECURSOS] Total Pago   </th>       
                  <th rowspan="1"> Total NAO Pago   </th> 
                </tr>
        
                {% for grupo_despesa in lst_grupo_despesas %}
                  <tr>
                    <td><a href= "{% url 'financas:grupo_despesa_editar' grupo_id=grupo_despesa.id %}"> Editar </a>{{ forloop.counter }}</td>
                    <td>{{ grupo_despesa.descricao}}</td>  

                    <td>{{ grupo_despesa.total_contratado}}</td>  
                    <td>{{ grupo_despesa.total_estimavel}}</td>
                    <td>{{ grupo_despesa.total_pago_FEFC}}</td>  
                    <td>{{ grupo_despesa.total_pago_fundo_partidario}}</td>
                    <td>{{ grupo_despesa.total_pago_outros_rec }}</td>                    
                    <td>{{ grupo_despesa.total_nao_pago }}</td>

                  </tr>
                {% endfor %}

              </table>

              </table>

            </td>
          </tr>
        </table>

    </div>
  </div>


{% endblock %}
