{% extends "financas/template_page_navegacao.html" %}

{% block title %}
  Doações
{% endblock %}

{% block titulo %}
  <div> <a class="msg"> msg: {{ msg }}</a> </div>
  <b>  Eleições: {{ano_fiscal}}</b>
  <h1> Lançamentos de despesas</h1>
  <h5> Candidato: {{candidato.pessoa.nome}}</h5>
  <h6> Cargo: {{candidato.cargo.nome}}</h6>

{% endblock %}


{% block content %}
  <div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="{% url 'financas:despesas_main'%}">Relatorio</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'financas:despesas_lancamentos' candidato_id=candidato.id %}">Lançamentos</a></li>

  </ul>
</nav>

      <!-- main -->
    <div class="main">

      <!-- barra ações-->
      <div>
        <!--<a href="http://www.google.co.uk/" onclick="return (confirm('Follow this link?'))">Google</a>-->
        <a href= "{% url 'financas:despesas_incluir' candidato.id %}"> Incluir despesa </a>
      </div>
        <table> 
          <tr>
            <td>
            
              <table>
                <tr>
                  <th rowspan="1">id</th>  
                  <th rowspan="1">Data</th>              
                  <th rowspan="1">Grupo despesa</th>             
                  <th rowspan="1">Valor contratado</th>
                  <th rowspan="1">Valor Estimavel</th>
                  <th rowspan="1">[FEFC] Valor Pago  </th>   
                  <th rowspan="1">[FUNDO PARTIDÁRIO] Valor Pago  </th> 
                  <th rowspan="1">[OUTROS RECURSOS] Valor Pago   </th>       
                  <th rowspan="1"> Valor NAO Pago   </th> 
                </tr>
        
                {% for despesa in lst_despesas %}
                  <tr>
                    <td><a href= "{% url 'financas:despesas_excluir' despesa_id=despesa.id %}"  onclick="return (confirm('Confirma a exclusão?'))" > Excluir </a>|<a  href= "{% url 'financas:despesas_editar' despesa_id=despesa.id %}"> Editar </a>{{ forloop.counter }}</td>
                    <td>{{ despesa.data}}</td>
                    <td>{{ despesa.grupo.descricao}}</td>  
                    <td>{{ despesa.valor_contratado}}</td>  
                    <td>{{ despesa.valor_estimavel}}</td>

                    <td>{{ despesa.valor_pago_FEFC}}</td>  
                    <td>{{ despesa.valor_pago_fundo_partidario}}</td>
                    <td>{{ despesa.valor_pago_outros_rec }}</td>
                    <td>{{ despesa.valor_nao_pago }}</td>

                  </tr>
                {% endfor %}
              </table>

            </td>
          </tr>
        </table>

    </div>
  </div>


{% endblock %}
